<div
  <%= "id=#{local_assigns[:id]}" if local_assigns.has_key?(:id) -%>
  class="dashboard-container <%= local_assigns.fetch(:class, "") -%>"
  >
  <% if local_assigns.fetch(:title, "").present? %>
    <div class="dashboard-container-title">
      <span class="dashboard-container-title-text"><%= title %></span>
      <div class="dashboard-container-title-underline"></div>
    </div>
  <% end %>
  <%= yield %>
</div>
