<% if pinned_apps? %>
  <%= render :layout => "widgets/container", :locals => { :title => "Pinned Apps" } do %>
    <div id="pinned_apps" class="app-row">
      <%= render :partial => "widgets/pinned_app", :collection => @pinned_apps %>
    </div>
  <% end %>
  <script>
    (function() {
      const app_cards = $(".custom-app-card");
        app_cards.each(function() {
          const icon = $(this).find(".app-icon").first();
          const title = $(this).data("description");
          icon.attr("title", title);
        });
      })();
  </script>
<% end %>
