<% if pinned_apps? %>
  <script>
    (function() {
        const pinned_apps_style = document.createElement('style');
        pinned_apps_style.textContent = `
          #pinned_apps {
            --max-width: calc((100% - 60px) / 6);
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(max(120px, var(--max-width)), 1fr));
            grid-auto-rows; 1fr;
            grid-column-gap: 10px;
            grid-row-gap: 10px;
          }
          .custom-app-card {
            color: #000000;
            box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.06), 0px 6px 14px rgba(0, 0, 0, 0.05);
            border-radius: 4px;
            padding: 0.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            height: 100%;
          }
          .custom-app-card p {
            margin-bottom: 0;
          }
          .custom-app-card .app-icon {
            height: 1.25em;
            width: 1.25em;
            font-size: 48px;
          }
          .custom-app-card:hover {
            background-color: #F5F5F5;
            color: #000000;
            text-decoration: none;
          }
        `;
        document.head.appendChild(pinned_apps_style);
      })();
  </script>
  <%= render :layout => "widgets/container", :locals => { :title => "Pinned Apps" } do %>
    <div id="pinned_apps">
      <%= render :partial => "widgets/pinned_app", :collection => @pinned_apps %>
    </div>
  <% end %>
  <script>
    (function() {
      const app_cards = $(".custom-app-card");
        app_cards.each(function() {
          const icon = $(this).find(".app-icon").first();
          const title = $(this).data("description");
          icon.attr("title", title);
        });
      })();
  </script>
<% end %>
