<script>
  const motd_style = document.createElement('style');
  motd_style.textContent = `
    .motd {
        border-radius: 6px;
        box-shadow: rgb(0 0 0 / 15%) 0px 10px 20px, rgb(0 0 0 / 20%) 0px 5px 5px;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
      }
    .motd-title {
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        color: #595959;
        font-weight: 500;
        margin-bottom: 10px;
      }
    .motd-title-underline {
        width: 44px;
        height: 4px;
        background-color: #006778;
        margin-top: 10px;
      }
  `;
  document.head.appendChild(motd_style);
</script>
<div class="motd">
  <div class="motd-title">
    Message of the day
    <div class="motd-title-underline"></div>
  </div>
  <%= @motd.content.html_safe %>
</div>
