<script>
  const style = document.createElement('style');
  style.textContent = `
    .notification {
        padding: 10px;
        margin: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 10px;
      }
    .notification-warning {
        border-color: #ffab7f;
      }
    .notification-warning .progress-bar {
        background-color: #002f5f; 
      }
    .notification-info {
        border-color: #7fb2bb;
      }
    .notification-error {
        border-color: #b90729;
      }
    .notification-title {
        color: #595959;
        font-weight: 600;
        font-size: 16px;
      }
    .notification-title a {
        color: #595959;
        text-decoration: underline;
      }
    .notification-message {
        font-size: 16px;
      }
    .notification-content {
        width: 100%;
      }
    .notification-icon {
        padding: 10px;
      }
    .notification-info .notification-icon {
        color: #006779;
      }
    .notification-warning .notification-icon {
        color: #e6bf12;
      }
    .notification-error .notification-icon {
        color: #b90729;
      }
    .notifications {
        overflow-y: auto;
        border-radius: 6px;
        box-shadow: rgb(0 0 0 / 15%) 0px 10px 20px, rgb(0 0 0 / 20%) 0px 5px 5px;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    .title-underline {
        width: 44px;
        height: 4px;
        background-color: #006778;
        margin-top: 10px;
      }
    .notification-title {
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        color: #595959;
        font-weight: 500;
        margin-bottom: 10px;
      }
    .warnings .notification:not(:last-child) {
      border-bottom: 2px solid #595959;
      }
  `;
  document.head.appendChild(style);
</script>
<script>
  function setNotificationsHeight() {
      let motd = $(".motd").first();
      let notifications = $("#notifications");
      if (motd && notifications) {
          notifications.height(motd.height());
        }
    }
  $(document).ready(setNotificationsHeight);
  $(window).resize(setNotificationsHeight);
</script>
<div class="notifications" id="notifications" style="height: 100px">
  <div class="notification-title">
    Notifications
    <div class="motd-title-underline"></div>
  </div>
  <div class="warnings">
  <%- CSCQuota.get.select{ |quota| quota.insufficient?(threshold: Configuration.quota_threshold ) }.sort_by(&:percent_total_usage).reverse.each do |quota| -%>
    <%= render :partial => 'widgets/quota_notification', :locals => {:quota => quota} %>
  <%- end -%>
  <% CSCBalance.get.select{ |balance| balance.insufficient?(threshold: Configuration.balance_threshold) }.sort_by(&:percent_usage).reverse.each do |balance| %>
    <%= render :partial => 'widgets/balance_notification', :locals => {:balance => balance} %>
  <% end %>
  </div>
</div>

