<div class="notification notification-<%= type -%>">
  <i class="fas fa-exclamation-triangle notification-icon"></i>
  <div class="notification-content">
    <h5 class="notification-title"><%= title %></h5>
    <p class="notification-message"><%= message %> </p>
  </div>
</div>
