@import "https://use.typekit.net/csv4mjm.css";
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

body {
  background-color: #FFF !important;
  font-family: "Montserrat" !important;
  letter-spacing: -0.025em;
}

.form-group-invalid label::after {
  content: "❗";
}

.form-group-invalid .form-control {
  color: red;
}

#navbar .nav-link {
  color: #000 !important;
  font-weight: 700 !important;
}

.navbar {
  box-shadow: none !important;
}

.custom-app-card {
  box-shadow: 0px 3px 8px -2px #C7C7C7 !important;
  border-radius: 0 !important;
}

.dashboard-container-title-underline {
  display: none;
}

.dashboard-container-title-text {
  font-size: 28px !important;
  font-weight: 600 !important;
}

/* Modals */
.locked-container {
  overflow-y: hidden;
}
.lumi-modal-content h3, .lumi-modal-content h4, .lumi-modal-content h5, .lumi-modal-content h6 {
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.lumi-modal-content h3 {
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.lumi-modal-content h4 {
 font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}
.lumi-modal-content h5 {
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}
.lumi-modal-content h6 {
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
}
.lumi-modal-actions > button {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
  font-size: 18px;
  background-color: #004E8E;
  color: #FFFFFF;
  border: none;
  line-height: normal;
}
#cookie-policy-toggle:hover, #accessibility-statement-toggle:hover {
  cursor: pointer;
}

dialog.lumi-modal[open] {
  display: flex;
  flex-direction: column;
  border: unset;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  height: 95vh;
  width: 65vw;
  padding: unset;
}
dialog.lumi-modal[open] > h2 {
  margin: unset;
  padding: 1rem;
}
dialog.lumi-modal[open] > .lumi-modal-content {
  overflow-y: auto;
  flex-grow: 1;
  border: 2px solid;
  margin: 0 1rem;
  padding: 0 1rem;
}
dialog.lumi-modal[open] > .lumi-modal-actions {
  padding: 1rem;
}
